{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%endblock%} | usando Templates
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!--Cabecera de la pagina-->
    <header>
        <div id="logotipo">
            <!--Logo Django-->
            <img src="{% static 'images/logo.png' %}">
            <h1>Proyecto con Django</h1>
        </div>

    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
            {% if user.email %}

                 <li>
                    <a href="{% url 'list_articles' %}">Categorias</a>
                    <ul>
                        {% for category in categories %}
                                <li>
                                    <a href="{% url 'category' category.0 %}">{{category.1}}</a>
                                </li>
                        {% endfor %}
                        
                    </ul>
                </li>
           
                {% for page in pages %}
                    <li>
                    <a href="{% url 'page' page.2 %}">{{page.1}}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url 'logout_user' %}">Cerrar Sesión</a>
                </li>
                
            {% else %}
                <li>
                    <a href="{% url 'register_page' %}">Registro</a>
                </li>
                <li>
                    <a href="{% url 'login_page' %}">Login</a>
                </li>

            {% endif %}
            

        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">

        <div class="box">
             

            {% block content %}
            <!--Codigo que viene de template-->
            <strong>Contenido del bloque original!!!</strong> {% endblock %}

        </div>

    </div>


    <footer>
        Master en Python &copy; Nicolas Sepulveda - {% now "Y " %}
    </footer>

</body>

</html>