{% extends 'layout.html' %} 
{% block title %}  Listado de artículos {% endblock %} 

{% block content%}


<h1 class="title">Listado de artículos</h1>

{% if messages  %}
    {% for message in messages %}
        <div class="message">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

<h2>{{ "Listado de Articulos"|cut:"ñ" }}</h2>



    {% for articulo in articulos %}
    <article class="article-item">

        {% if articulo.image != 'null' and articulo.image.url|length >= 1  %}
            <div class="image">
                <img src="{{articulo.image.url}}" />
            </div>
        {% else %}
          <div class="image">
                <img src="https://pbs.twimg.com/profile_images/2404967299/6g661dowv4ov3dbmybjd.gif" />
            </div>
        
        {% endif %}
        <div class="data">
            <h2>{{articulo.title}}</h2>
            <span class="date">{{articulo.create_at}}</span>
            <p>{{articulo.content}}  <a class="btn btn-delete" href="{% url 'borrar_articulos' id=articulo.id %}">Eliminar</a>  </p>
            
        </div>

        <div class="clearfix"></div>
     </article>
    {% empty %}
    <p>No hay articulos para mostrar</p>
    {% endfor %}


{% endblock %}