{% extends 'layout.html' %} 
{% block title %} 
Inicio
 {% endblock %} 
 {% block content%}




 <!--Esto es un comentario en html-->

 {% comment 'Nota para el comentario' %}
    <h1>hola hola hola</h1>
 {% endcomment %}

<h1 class="title">{{title}}</h1>
<p>
{{mi_variable}}
</p>

{% if nombre and nombre == 'Nicolas Sepulveda' %}
<p>{{ nombre }}</p>
{% else  %}
<strong>El nombre no existe o no coincide </strong>
{% endif  %}

<h3>Listado de Lenguajes de Programación: </h3>
<ul>
    {% for lenguaje in lenguajes %}
    <li>{{ forloop.counter}} . {{lenguaje}}   </li>
    {% empty %}
    <p>No hay lenguajes para mostrar</p>
    {% endfor %}
</ul>



{% include 'fecha-actual.html' with saludo="Hola Mundo Desde Plantilla"  %}
{% endblock %}

