<div class="pagination">
    <h1>PAGINACION</h1>
    {% if articulos.has_previous  %}
        <a href="?page=1" >&laquo; Primero</a>
        <a href="?page={{articulos.previous_page_number}}" >Anterior</a>
    {% endif %}
    <span class="actual">
        Página {{articulos.number}} de {{articulos.paginator.num_pages}} 
    </span>
     {% if articulos.has_next  %}
        <a href="?page={{articulos.next_page_number}}" >Siguiente</a>
        <a href="?page={{articulos.paginator.num_pages}}" > Última &raquo;</a>
    {% endif %}
</div>